// Variables
$text                   :   #555555;
$text-light             :   #FFFFFF;
$border                 :   #D7D7D7;
$edge-dark              :   rgba(55,55,55,0.1);
$background             :   #FFFFFF;
$background-contrast    :   rgba(0, 0, 0, 0.3);

.rp-scroll-wrapper {
    overflow-x: scroll;
    width: 80%;
    margin-left: auto;
    > .rp-scroll { height: 1px; }
}
.rp-group-wrapper, .rp-group-list {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    user-select: none;
    cursor: default;
    a { cursor: pointer; }
    h3 { margin: 15px 0 0 0; font-weight: bold; color: $text; }
    .rp-group-left { width: 20%; background: $background; position: relative; z-index: 1; }
    .rp-group-right { width: 80%; overflow: hidden; box-shadow: $border -1px 0px 0px inset, $border 1px 0px 0px inset; transition: 0.5s box-shadow ease; }
    .rp-group-title { margin-left: 10px; }
    .rp-group-list { width: 100%; }
    .rp-label-date { overflow: hidden; }
    .rp-heading {
        border: 0; box-shadow: none;
        &.rp-group-right {
            .rp-scroller {
                display: flex;
                .rp-label-date { padding-left: 10px; padding-bottom: 15px; box-sizing: border-box; }
            }
        }
    }
    .rp-label {
        font-weight: bold;
        line-height: 28px;
        border-bottom: 1px solid $border;
        &.rp-group-right {
            .rp-scroller {
                display: flex;
                .rp-label-date {
                    text-align: center;
                    display: block;
                    .rp-line { 
                        position: absolute;
                        width: 1px;
                        height: 100%;
                        background: $border;
                    }
                }
            }
        }
        &.rp-group-left > span{ padding: 0 10px; }
    }
    .rp-group-list .rp-row {
        border-bottom: 1px solid $border;
        &.rp-group-right .rp-scroller {
            padding: 10px 0;
            min-height: 32px;
            position: relative;
            box-sizing: content-box;
            .rp-datebar {
                margin-top: 5px;
                height: 32px;
                padding: 5px;
                border-radius: 4px;
                position: absolute;
                box-shadow: 0px -1px 0 0px inset $edge-dark;
                .rp-datebar-label {
                    position: relative;
                    display: inline-block;
                    padding: 1px 6px;
                    border-radius: 3px;
                    overflow: hidden;
                    height: 22px;
                    background: $background-contrast;
                    color: $text-light;
                    margin-right: 8px;
                    transition: 0.2s background ease;
                    max-width: 100%;
                }
            }
        }
        &.rp-group-left {
            .rp-resource {
                padding: 7px 10px;
                .rp-resource-name {
                    font-weight: bold;
                }
            }
        }
    }
}