.rp-scroll-wrapper {
    overflow-x: scroll;
    width: 80%;
    margin-left: auto;
    > .rp-scroll { height: 1px; }
}
.rp-group-wrapper, .rp-group-list {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    .rp-group-left { width: 20%; background: #FFFFFF; position: relative; z-index: 1; }
    .rp-group-right { width: 80%; overflow: hidden; box-shadow: #D7D7D7 -1px 0px 0px inset, #D7D7D7 1px 0px 0px inset; transition: 0.5s box-shadow ease; }
    .rp-group-list { width: 100%; }
    .rp-label-date { display: inline-block; overflow: hidden; }
    .rp-heading { border: 0; box-shadow: none; }
    .rp-label {
        font-weight: bold;
        line-height: 28px;
        border-bottom: 1px solid #D7D7D7;
        &.rp-group-right {
            .rp-scroller {
                display: flex;
                .rp-label-date {
                    text-align: center;
                    display: block;
                    .rp-line { 
                        position: absolute;
                        width: 1px;
                        height: 100%;
                        background: #D7D7D7;
                    }
                }
            }
        }
        &.rp-group-left > span{ padding: 0 10px; }
    }
    .rp-group-list .rp-row {
        border-bottom: 1px solid #D7D7D7;
        &.rp-group-right .rp-scroller {
            padding: 10px 0;
            min-height: 32px;
            position: relative;
            box-sizing: content-box;
            .rp-datebar {
                margin-top: 5px;
                height: 32px;
                padding: 5px;
                border-radius: 4px;
                position: absolute;
                .rp-datebar-label {
                    position: relative;
                    display: inline-block;
                    padding: 1px 6px;
                    border-radius: 3px;
                    overflow: hidden;
                    height: 22px;
                    background: rgba(0, 0, 0, 0.3);
                    color: #FFFFFF;
                    margin-right: 8px;
                    transition: 0.2s background ease;
                }
            }
        }
        &.rp-group-left > div:first-child {
            padding: 7px 10px 0 10px;
            & + div { padding: 0px 10px 7px 10px; }
        }
    }
}